[phases.setup]
nixPkgs = ["nodejs_22", "corepack"]

[phases.install]
cmds = [
  "corepack enable",
  # Corepack will pick the pnpm version from package.json:packageManager
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm start"
