[phases.setup]
nixPkgs = ["nodejs_22", "corepack"]

[phases.install]
cmds = [
  "corepack enable",
  "pnpm config set store-dir /root/.local/share/pnpm/store/v3",
  "pnpm install --frozen-lockfile"
]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm start"
