[phases.setup]
nixPkgs = ["nodejs_18", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["bash scripts/pre-build.sh", "pnpm run build"]

[start]
cmd = "pnpm start"
