[build]
builder = "nixpacks"

[deploy]
startCommand = "node_modules/.bin/next start -p $PORT"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[deploy.variables]
NODE_ENV = "production"
PORT = "8080"
