[build]
builder = "nixpacks"
buildCommand = "pnpm install --frozen-lockfile && NODE_NO_WARNINGS=1 pnpm run build"

[deploy]
startCommand = "pnpm start"
healthcheckPath = "/api/status"
healthcheckTimeout = 300
restartPolicyType = "on_failure"